{% if page.featured-image contains "/" %}
{% assign featured-image = page.featured-image | relative_url %}
{% else %}
{% assign featured-image-id = site.data[site.metadata] | where: "objectid", page.featured-image | first %}
{% capture featured-image %}{{ featured-image-id.object_location | default: featured-image-id.image_small | relative_url }}{% endcapture %}
{% endif %}
<style>
    #everything-at-top {
        background-image: url('{{featured-image}}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #home-banner {
        min-height: 400px;
        max-height: 65vh;
        position: relative;
    }
    #title-box {
        margin-top: 4em; 
        margin-left: 1em;
        margin-right: 1em;
    }
    #toc-box {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }
</style>
<div id="everything-at-top" class="flex-grow-1">
    {% include essay/side-nav.html %}
<div id="home-banner" class="container-fluid mt-3 mb-5">

    <div id="title-box" class="col-md-5 py-3 px-5 text-white bg-dark bg-opacity-75 rounded">
        <h1 class="display-2">{{ page.title | default: site.title }}</h1>
        {% if page.author %}<p class="mb-0"> by {{ page.author }}</p>{% endif %}
    </div>

    <a id="toc-box" class="py-3 px-5 display-6 fs-2 text-white bg-dark bg-opacity-75 rounded text-center" href="#step0">Read the Essay &#8595;</a>
    
</div>
</div>